#page_wrapper
  .link_column
    .link_wrapper
      .column_top_bar
        %h4 links go under
      .link1
        = link_to 'link', '#'
      .link2
        = link_to 'link', '#'
      .link1
        = link_to 'link', '#'
      .link2
        = link_to 'link', '#'
      .link1
        = link_to 'link', '#'
      .link2
        = link_to 'link', '#'
      .link1
        = link_to 'link', '#'
      .link2
        = link_to 'link', '#'
      .link1
        = link_to 'link', '#'
      .link2
        = link_to 'link', '#'
  .link_column
    .link_wrapper
      .column_top_bar
        %h4 links go under
      .link1
        = link_to 'link', '#'
      .link2
        = link_to 'link', '#'
      .link1
        = link_to 'link', '#'
      .link2
        = link_to 'link', '#'
      .link1
        = link_to 'link', '#'
      .link2
        = link_to 'link', '#'
    .link_wrapper
      .column_top_bar
        %h4 links go under
      .link1
        = link_to 'link', '#'
      .link2
        = link_to 'link', '#'
      .link1
        = link_to 'link', '#'
    .link_wrapper
      .column_top_bar
        %h4 links go under
      .link1
        = link_to 'link', '#'
      .link2
        = link_to 'link', '#'
      .link1
        = link_to 'link', '#'
      .link2
        = link_to 'link', '#'
  .link_column
    .link_wrapper
      .column_top_bar
        %h4 links go under
      .link1
        = link_to 'link', '#'
      .link2
        = link_to 'link', '#'
      .link1
        = link_to 'link', '#'
      .link2
        = link_to 'link', '#'
      .link1
        = link_to 'link', '#'
      .link2
        = link_to 'link', '#'
      .link1
        = link_to 'link', '#'
      .link2
        = link_to 'link', '#'
      .link1
        = link_to 'link', '#'
      .link2
        = link_to 'link', '#'
      .link1
        = link_to 'link', '#'
      .link2
        = link_to 'link', '#'
      .link1
        = link_to 'link', '#'
      .link2
        = link_to 'link', '#'
  .link_column
    .link_wrapper
      .column_top_bar
        %h4 links go under
      .link1
        = link_to 'link', '#'
      .link2
        = link_to 'link', '#'
      .link1
        = link_to 'link', '#'
      .link2
        = link_to 'link', '#'
      .link1
        = link_to 'link', '#'
      .link2
        = link_to 'link', '#'
      .link1
        = link_to 'link', '#'
      .link2
        = link_to 'link', '#'
      .link1
        = link_to 'link', '#'
      .link2
        = link_to 'link', '#'
