#page_wrapper
  .link_column
    .column_top_bar
      %h4 links go under
    .link1
      = link_to 'link', '#'
    .link2
      = link_to 'link', '#'
    .link1
      = link_to 'link', '#'
    .link2
      = link_to 'link', '#'
    .link1
      = link_to 'link', '#'
    .link2
      = link_to 'link', '#'
    .link1
      = link_to 'link', '#'
    .link2
      = link_to 'link', '#'
    .link1
      = link_to 'link', '#'
    .link2
      = link_to 'link', '#'
    .link1
      = link_to 'link', '#'
    .link2
      = link_to 'link', '#'
  .link_column
    .column_top_bar
      %h4 links go under
    .link1
      = link_to 'link', '#'
    .link2
      = link_to 'link', '#'
    .link1
      = link_to 'link', '#'
  .link_column
    .column_top_bar
      %h4 links go under
    .link1
      = link_to 'link', '#'
    .link2
      = link_to 'link', '#'
    .link1
      = link_to 'link', '#'
    .link2
      = link_to 'link', '#'
    .link1
      = link_to 'link', '#'
    .link2
      = link_to 'link', '#'
    .link1
      = link_to 'link', '#'
    .link2
      = link_to 'link', '#'
    .link1
      = link_to 'link', '#'
    .link2
      = link_to 'link', '#'
  .link_column
    .column_top_bar
      %h4 links go under
    .link1
      = link_to 'link', '#'
    .link2
      = link_to 'link', '#'
    .link1
      = link_to 'link', '#'
    .link2
      = link_to 'link', '#'
    .link1
      = link_to 'link', '#'
    .link2
      = link_to 'link', '#'
    .link1
      = link_to 'link', '#'
    .link2
      = link_to 'link', '#'
